/* basic styling */
body {

    font-family: 'Ubuntu', cursive;
    color: rgb(254, 0, 0);
    background-color: white;
}

/* font color overwrites */
a:link {
    color: rgb(254, 0, 0);
    text-decoration: none
}

a:visited {
    color: rgb(254, 0, 0);
}

a:hover {
    color: rgb(254, 0, 0);
}

a:focus {
    color: rgb(254, 0, 0);
}

a:active {
    color: rgb(254, 0, 0);
}

/*****************************************************************
 specific styling
 ****************************************************************/
.title {

    font-family: 'Stardos Stencil', cursive;
    line-height: 48px;
    font-weight: bold;
    font-size: 48px;
}

.med-font {

    font-weight: bold;
    font-size: 20px;
}

.upper-row {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.band-photo {

    padding-top: 32px;
    padding-bottom: 32px;
    width: 300px;
    height: 300px
}

.heading {

    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
}

.left-column {

    display: flex;
    flex-flow: column;
    justify-content: space-around
}

.unified-flex-size {

    flex-grow: 1;
    flex-basis: 0;
}

.social-media-link-outer-container {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

.social-media-link-container {

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center
}

.social-media-link {

    padding: 8px;
    width: 64px;
    height: 64px;
}

.social-media-link-mono-social-icons {

    padding: 4px;
    font-size: 64px;
}

/*tour date container*/

.year {

    font-size: 36px;
    font-weight: bold;
    margin: 16px;
}

.event-heading {

    font-size: 28px;
}

.event-description {

    font-size: 16px;
    margin-bottom: 24px;
}

.fat {

    font-size: 30px;
    font-weight: bolder;
}

@media (max-width: 800px) {

    .tour-dates {

        text-align: center;
    }
}