/*****************************************************************
 basic styling
 ****************************************************************/
body {

    font-family: 'Ubuntu', cursive;
    color: ivory;
    background-color: black;
}

/*****************************************************************
 link style overwrites
 ****************************************************************/
a:link {

    color: ivory;
    text-decoration: none /* removes underline from links */
}

a:visited {

    color: ivory;
}

a:hover {

    color: ivory;
}

a:focus {

    color: ivory;
}

a:active {

    color: ivory;
}

/*****************************************************************
 specific styling
 ****************************************************************/
.title {

    font-family: 'Stardos Stencil', cursive;
    line-height: 48px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.med-font {

    font-weight: bold;
    font-size: 20px;
}

.upper-row {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.band-photo {

    padding-top: 32px;
    padding-bottom: 32px;
}

.optima-logo {

    width: 80px;
    height: 80px;

    padding: 4px;
    margin: 12px;

    border-radius: 4px;
    background-color: white;
}

.mercuriall-logo {

    width: 260px;

    margin: 16px;
}

.heading {

    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.left-column {

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
}

.band-photo-container {

    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.unified-flex-size {

    flex-grow: 1;
    flex-basis: 0;
}

.social-media-link-outer-container {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

.social-media-link-container {

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center
}

.endorser-link-header {

    padding-top: 36px;
}

.endorser-link-container {

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center
}

.social-media-link {

    padding: 8px;
    width: 48px;
    height: 48px;
}

.social-media-link-mono-social-icons {

    padding: 4px;
    font-size: 64px;
}

/*****************************************************************
 tour date container stuff below
 ****************************************************************/
.tour-dates {

    text-align: center;
}

.year {

    font-size: 36px;
    font-weight: bold;
    margin: 16px;
}

.event-heading {

    font-size: 28px;
}

.event-description {

    font-size: 16px;
    margin-bottom: 24px;
}

.fat {

    font-size: 30px;
    font-weight: bolder;
}
